/ClientChat/bin/Debug
/ClientChat/obj/Debug
/ClientChat/.vs
/MessageTest/bin
/ClientChat/obj/project.nuget.cache
/MessageTest/obj/Debug/netcoreapp3.0/MessageControllerTest.csproj.CoreCompileInputs.cache
/MessageTest/obj/Debug/netcoreapp3.0/MessageControllerTest.genruntimeconfig.cache
/MessageTest/obj/project.nuget.cache
/MessageTest/obj/Debug/netcoreapp3.0/MessageControllerTest.AssemblyInfo.cs
/MessageTest/obj/Debug/netcoreapp3.0/MessageControllerTest.AssemblyInfoInputs.cache
/MessageTest/obj/Debug/netcoreapp3.0/MessageControllerTest.assets.cache
/MessageTest/obj/Debug/netcoreapp3.0/MessageControllerTest.csproj.CopyComplete
/MessageTest/obj/Debug/netcoreapp3.0/MessageControllerTest.csproj.FileListAbsolute.txt
/MessageTest/obj/Debug/netcoreapp3.0/MessageControllerTest.dll
/MessageTest/obj/Debug/netcoreapp3.0/MessageControllerTest.pdb
/MessageTest/obj/Debug/netcoreapp3.0/MessageTest.AssemblyInfo.cs
/MessageTest/obj/Debug/netcoreapp3.0/MessageTest.AssemblyInfoInputs.cache
/MessageTest/obj/Debug/netcoreapp3.0/MessageTest.assets.cache
/MessageTest/obj/Debug/netcoreapp3.0/MessageTest.csprojAssemblyReference.cache
/MessageTest/obj/MessageControllerTest.csproj.nuget.dgspec.json
/MessageTest/obj/MessageControllerTest.csproj.nuget.g.props
/MessageTest/obj/MessageControllerTest.csproj.nuget.g.targets
/MessageTest/obj/MessageTest.csproj.nuget.dgspec.json
/MessageTest/obj/MessageTest.csproj.nuget.g.props
/MessageTest/obj/MessageTest.csproj.nuget.g.targets
/MessageTest/obj/project.assets.json
/MessageTest/obj/Debug/netcoreapp3.0/MessageControllerTest.csprojAssemblyReference.cache
/MessageTest/obj/MessageControllerTest.csproj.nuget.cache
/MessageTest/obj/MessageTest.csproj.nuget.cache
