/ClientChat/bin/Debug
/ClientChat/obj/Debug
/ClientChat/.vs
/MessageTest/bin
/ClientChat/obj/project.nuget.cache
/MessageTest/obj/Debug/netcoreapp3.0/MessageControllerTest.csproj.CoreCompileInputs.cache
/MessageTest/obj/Debug/netcoreapp3.0/MessageControllerTest.genruntimeconfig.cache
/MessageTest/obj/project.nuget.cache
